<%= provide :title, t(".page_title") %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= t ".page_title" %></h4>
        <%= render "shared/search", path: search_admin_services_path, fields: Settings.search_fields.service %>
        <table class="table">
          <thead>
            <tr>
              <th><%= t ".name" %></th>
              <th><%= t ".create_at" %></th>
              <th><%= t ".update_at" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @services %>
          </tbody>
        </table>
        <%= paginate @services %>
      </div>
    </div>
  </div>
</div>
