<tr>
  <td><%= link_to location.name, admin_location_path(location) %></td>
  <td><%= label_tag nil, location.status_tag[:name], class: location.status_tag[:class] %></td>
  <td><%= location.location_type_name %></td>
  <td><%= l location.created_at, format: :full %></td>
  <td><%= l location.updated_at, format: :full %></td>
</tr>
