<%= form_for [:manager, @location] do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="form-group">
    <%= f.label :name, t(".name") %>
    <%= f.text_field :name, class: "form-control", placeholder: t(".enter_name") %>
  </div>
  <div class="form-group">
    <%= f.label :location_type_id, t(".form_location_type")%>
    <%= f.select :location_type_id, @location.location_type_option, { include_blank: true }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location, t(".form_location")%>
    <%= f.text_field :location, class: "form-control", placeholder: t(".enter_location") %>
  </div>
  <div class="form-group">
    <%= f.label :national, t(".form_national")%>
    <%= f.text_field :national, class: "form-control", placeholder: t(".enter_national") %>
  </div>
  <div class="form-group">
    <%= f.label :zip_code, t(".form_zip_code")%>
    <%= f.text_field :zip_code, class: "form-control", placeholder: t(".enter_zip_code") %>
  </div>
  <div class="form-group">
    <%= f.label :description, t(".form_description") %>
    <%= f.text_field :description, class: "form-control", placeholder: t(".enter_description") %>
  </div>
  <div class="form-group">
    <%= f.label :pictures %>
    <%= f.file_field :pictures, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png",  class: "file-upload-default" %>
    <div class="input-group col-xs-12">
      <%= text_field_tag nil, nil, class: "form-control file-upload-info", placeholder: t(".form_upload_img"),
        disabled: true %>
      <span class="input-group-append">
        <button class="file-upload-browse btn btn-info" type="button"><%= t ".form_upload" %></button>
      </span>
    </div>
  </div>
    <%= f.button yield(:button_text), class: "btn btn-success mr-2" %>
    <%= link_to t(".form_cancel"), request.referer, class: "btn btn-light" %>
<% end %>
