<%= form_for [:manager, @location] do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="form-group">
    <%= f.label :name, t(".name") %>
    <%= f.text_field :name, class: "form-control", placeholder: t(".enter_name") %>
  </div>
  <div class="form-group">
    <%= f.label :location_type_id, t(".form_location_type_id")%>
    <%= f.text_field :location_type_id, class: "form-control", placeholder: t(".enter_location_type_id") %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, t(".form_user_id")%>
    <%= f.text_field :user_id, class: "form-control", placeholder: t(".enter_user_id") %>
  </div>
  <div class="field">
    <%= f.label :pictures %>
    <%= f.file_field :pictures, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
  </div>
  <div class="form-group">
    <%= f.label :location, t(".form_location")%>
    <%= f.text_field :location, class: "form-control", placeholder: t(".enter_location") %>
  </div>
  <div class="form-group">
    <%= f.label :national, t(".form_national")%>
    <%= f.text_field :national, class: "form-control", placeholder: t(".enter_national") %>
  </div>
  <div class="form-group">
    <%= f.label :zip_code, t(".form_zip_code")%>
    <%= f.text_field :zip_code, class: "form-control", placeholder: t(".enter_zip_code") %>
  </div>
  <div class="form-group">
    <%= f.label :description, t(".form_description") %>
    <%= f.text_field :description, class: "form-control", placeholder: t(".enter_description") %>
  </div>
  <div class="form-group">
    <%= f.label :status, t(".form_status") %>
    <%= f.text_field :status, class: "form-control", placeholder: t(".enter_status") %>
  </div>
    <%= f.button yield(:button_text), class: "btn btn-success mr-2" %>
    <%= link_to t(".form_cancel"), request.referer, class: "btn btn-light" %>
<% end %>
