<%= provide :title, @location.name %>

<%= render "manager/locations/modal" %>
<div class="row">
  <div class="col-12 card">
    <div class="card-body">
      <address>
        <p class="font-weight-bold"><%= @location.name %></br>
          <%= @location.national %></br> <%= @location.description %>
          <%= (0...@location.pictures.count).each do |picture| %>
          <div class="picture_medium">
            <%= image_tag(@location.pictures[picture].url, class: "full_picture_auto")%>
          </div>
          <% end %>
          </p>
        <p><%= t ".created_at" %>: <%= l @location.created_at, format: :full %></p>
        <p><%= t ".updated_at" %>: <%= l @location.updated_at, format: :full %></p>
      </address>
      <%= button_tag t(".del_but"), class: "btn btn-danger btn-sm float-right ml-1", data: {toggle: "modal", target: "#deleteModal"} %>
      <%= link_to t(".edit_but"), edit_manager_location_path(@location), class: "btn btn-primary btn-sm float-right" %>
    </div>
  </div>
</div>
