<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <%= link_to admin_root_path, class: "navbar-brand brand-logo" do %>
      <%= image_tag "admin/logo.png", alt: "logo" %>
    <% end %>
    <%= link_to admin_root_path, class: "navbar-brand brand-logo-mini" do %>
      <%= image_tag "admin/logo-mini.svg", alt: "logo" %>
    <% end %>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown ml-4">
        <%= link_to nil, class: "nav-link count-indicator dropdown-toggle", id: "notificationDropdown", data: {toggle: "dropdown"} do %>
          <i class="mdi mdi-bell-outline"></i>
          <span class="count bg-success">4</span>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
          <%= link_to "#", class: "dropdown-item py-3 border-bottom" do %>
            <p class="mb-0 font-weight-medium float-left"><%= t ".notification" %> </p>
            <span class="badge badge-pill badge-primary float-right"><%= t ".view_all" %>
              </span>
          <% end %>
          <%= link_to "#", class: "dropdown-item preview-item py-3" do %>
            <div class="preview-thumbnail">
              <i class="mdi mdi-airballoon m-auto text-primary"></i>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal text-dark mb-1"><%= t ".new_user" %></h6>
              <p class="font-weight-light small-text mb-0"> <%#= time %> </p>
            </div>
          <% end %>
          <%= link_to "#", class: "dropdown-item preview-item py-3" do %>
            <div class="preview-thumbnail">
              <i class="mdi mdi-airballoon m-auto text-primary"></i>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal text-dark mb-1"><%= t ".new_location" %></h6>
              <p class="font-weight-light small-text mb-0"> <%#= time %> </p>
            </div>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown d-none d-xl-inline-block">
        <%= link_to nil, class: "nav-link dropdown-toggle", id: "UserDropdown", data: {toggle: "dropdown"}, aria: {expanded: "false"} do %>
          <span class="profile-text"><%#= current admin %></span>
          <%= image_tag "admin/faces/face8.jpg", alt: "Profile image", class: "img-xs rounded-circle" %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <%= link_to nil, class: "dropdown-item p-0" do %>
            <div class="d-flex border-bottom">
              <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                <i class="mdi mdi-account-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
              </div>
            </div>
          <% end %>
          <%= link_to "Manage Accounts", "#", class: "dropdown-item mt-2" %>
          <%= link_to "Change Password", "#", class: "dropdown-item" %>
          <%= link_to "Sign Out", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>
