<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <%= image_tag "admin/faces/face8.jpg", alt: "profile image" %> </div>
          <div class="text-wrapper">
            <p class="profile-name"><%#= current admin %></p>
            <div>
              <small class="designation text-muted"><%#= current user role %></small>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#accounts" aria-expanded="true" aria-controls="accounts">
        <i class="menu-icon mdi mdi-account-multiple"></i>
        <span class="menu-title"><%= t ".accounts" %></span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="accounts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to t(".list_accounts"), admin_users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".new_account"), new_admin_user_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <%= link_to  admin_locations_path, class: "nav-link" do %>
        <i class="menu-icon mdi mdi-city"></i>
        <span class="menu-title"><%= t ".locations" %></span>
      <% end %>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#location_types" aria-expanded="false" aria-controls="location_types">
        <i class="menu-icon mdi mdi-message-image"></i>
        <span class="menu-title"><%= t ".location_types" %></span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="location_types">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to t(".list_location_types"), admin_location_types_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".new_location_type"), new_admin_location_type_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#services" aria-expanded="false" aria-controls="services">
        <i class="menu-icon mdi mdi-wifi"></i>
        <span class="menu-title"><%= t ".services" %></span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="services">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to t(".list_services"), admin_services_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".new_service"), new_admin_service_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#bed_details" aria-expanded="false" aria-controls="bed_details">
        <i class="menu-icon mdi mdi-hotel"></i>
        <span class="menu-title"><%= t ".bed_details" %></span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="bed_details">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to t(".list_bed_detail"), admin_bed_details_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".new_bed_detail"), new_admin_bed_detail_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
