<tr>
  <td><%= link_to user.name, admin_user_path(user) %></td>
  <td><%= user.email %></td>
  <td><%= user.role_badge %></td>
  <td><%= user.status_badge %></td>
  <td><%= l user.created_at, format: :full %></td>
  <td><%= l user.updated_at, format: :full %></td>
</tr>
