<%= provide :title, @user.name %>

<%= render "admin/users/modal" %>
<div class="row">
  <div class="col-12 card">
    <div class="card-body">
      <address>
        <p class="font-weight-bold"><%= @user.name %>
          <%= @user.role_badge %> <%= @user.status_badge %></p>
        <p><%= t ".created_at" %>: <%= l @user.created_at, format: :full %></p>
        <p><%= t ".updated_at" %>: <%= l @user.updated_at, format: :full %></p>
      </address>
      <address class="text-primary">
        <p class="font-wei<%= @user.name %>ght-bold"> <%= t ".email" %> </p>
        <p class="mb-2"> <%= @user.email %> </p>
      </address>
      <%= button_tag t(".del_but"), class: "btn btn-danger btn-sm float-right ml-1", data: {toggle: "modal", target: "#deleteModal"} %>
      <%= link_to t(".edit_but"), edit_admin_user_path(@user), class: "btn btn-primary btn-sm float-right" %>
    </div>
  </div>
</div>
