<div class="col-lg-4">
  <div class="single-destinations">
    <div class="thumb">
      <%= image_tag location.pictures[0].url if
      location.pictures.length > 0 %>
    </div>
    <div class="details">
      <h4 class="d-flex justify-content-between">
        <span><%= location.name %></span>
        <span id="average_rating_<%= location.id %>"></span>
      </h4>
      <p>
        View on map   |   <%= location.reviews.count %> Reviews
      </p>
      <%= link_to t(".view"), location_path(location),class: "price-btn" %>
    </div>
  </div>
</div>

<script>
  $('#average_rating_<%= location.id %>').raty({
    path: '/assets/',
    readOnly: true,
    score: <%= location.total_rate %>
  });
</script>
