<div class="row">
  <div class="col-md-12">
    <h3><%= t ".reviews" %><span><%= @location.total_rate%></span> (<%= @location.reviews.count %>)</h3>
    <div class="container">
      <div>
        <%= render "reviews/form" %>
      </div>
      <div>
        <%= render "reviews/list" %>
      </div>
    </div>
  </div>
</div>
