<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/meta" %>
    <title><%= full_title yield(:title) %></title>
    <%= render "layouts/style" %>
    <%= render "layouts/js" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/banner" %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
