<section class="relative">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-center">
      <div class="col-md-6 banner-right card shadow-lg">
        <%= form_for @account, url: changepassword_path, html: {class: "form-wrap"}  do |f| %>
          <%= render "shared/error_messages", object: f.object  %>
          <%= f.password_field :password_old, class: "form-control", placeholder: "Enter old password" %>
          <%= f.password_field :password, class: "form-control", placeholder: "Enter new password" %>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm new password" %>
          <%= f.button "Change", class: "primary-btn text-uppercase" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
