<tr>
  <td><%= link_to room.name, manager_location_room_path(@location, room) %></td>
  <td><%= room.occupancy_limit %></td>
  <td><%= room.quantity %></td>
  <td><%= room.price %></td>
  <td><%= label_tag nil, room.status_tag[:name], class: room.status_tag[:class] %></td>
  <td><%= l room.created_at, format: :full %></td>
  <td><%= l room.updated_at, format: :full %></td>
</tr>
