<tr>
  <td><%= link_to room.name, manager_room_path(room) %></td>
  <td><%= room.name %></td>
  <td><%= room.occupancy_limit %></td>
  <td><%= room.living_room %></td>
  <td><%= room.bed_room %></td>
  <td><%= room.bath_room %></td>
  <td><%= room.number_of_bed %></td>
  <td><%= room.quantity %></td>
  <td><%= room.price %></td>
  <td><%= room.location_id %></td>
  <td><%= room.created_at.strftime(Settings.datetime_format) %></td>
  <td><%= room.updated_at.strftime(Settings.datetime_format) %></td>
</tr>
