<%= provide :title, t(".rooms") %>

<div class="row">
  <div class="col-md-12 card">
    <div class="card-body">
      <h4 class="card-title"><%= t ".rooms" %></h4>
      <%= render "shared/search", path: search_manager_rooms_path, fields: Settings.search_fields.room %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t ".room_name" %></th>
            <th><%= t ".occupancy_limit" %></th>
            <th><%= t ".living_room" %></th>
            <th><%= t ".bed_room" %></th>
            <th><%= t ".bath_room" %></th>
            <th><%= t ".number_of_bed" %></th>
            <th><%= t ".quantity" %></th>
            <th><%= t ".price" %></th>
            <th><%= t ".location_id" %></th>
            <th><%= t ".created_at" %></th>
            <th><%= t ".update_at" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @rooms %>
        </tbody>
      </table>
      <%= paginate @rooms %>
    </div>
  </div>
</div>
