<%= provide :title, @room.name %>

<%= render "manager/rooms/modal" %>
<div class="row">
  <div class="col-12 card">
    <div class="card-body">
      <address>
        <p class="font-weight-bold"><%= @room.name %></br>
          <%= @room.price %></br> <%= @room.occupancy_limit %>
          <%= (0...@room.pictures.count).each do |picture| %>
          <div style="width:300px; height:300px;">
            <%= image_tag(@room.pictures[picture].url, style:'width:100%; height: auto')%>
          </div>
          <% end %>
          </p>
        <p><%= t ".created_at" %>: <%= @room.created_at.strftime(Settings.datetime_format) %></p>
        <p><%= t ".updated_at" %>: <%= @room.updated_at.strftime(Settings.datetime_format) %></p>
      </address>
      <%= button_tag t(".del_but"), class: "btn btn-danger btn-sm float-right ml-1", data: {toggle: "modal", target: "#deleteModal"} %>
      <%= link_to t(".edit_but"), edit_manager_room_path(@room), class: "btn btn-primary btn-sm float-right" %>
    </div>
  </div>
</div>
