<%= provide :title, @room.name %>

<div class="row">
  <div class="col-12 card">
    <div class="card-body">
      <address>
        <p class="font-weight-bold"><%= @room.name %></p>
          <i class="mdi mdi-account-multiple"></i> <%= @room.occupancy_limit %>
          <i class="mdi mdi-account-multiple"></i> <%= @room.price %>
          <% @room.pictures.each do |picture| %>
            <div class="picture_medium">
              <%= image_tag(picture.url, class: "full_picture_auto")%>
            </div>
          <% end %>

        <p><%= t ".created_at" %>: <%= l @room.created_at, format: :full %></p>
        <p><%= t ".updated_at" %>: <%= l @room.updated_at, format: :full %></p>
      </address>
      <%= link_to t(".edit_but"), edit_manager_location_room_path(@location, @room), class: "btn btn-primary btn-sm float-right" %>
    </div>
  </div>
</div>
